[aria-label="Download this page"] {
    display: none;
}

[aria-label="Fullscreen mode"] {
    display: none;
}

main.bd-content #main-content h1 {    
    color: rgb(0,51,102);
}

main.bd-content #main-content h2 {    
    color: rgb(0,51,102);
}

main.bd-content #main-content h3 {    
    color: rgb(0,51,102);
}

main.bd-content #main-content h4 {    
    color: rgb(0,51,102);
}

main.bd-content #main-content h5 {    
    color: rgb(0,51,102);
}